<h1>All your metrics are belong to Resque</h1>

<table class="queues">
  <tbody>
    <tr>
      <th>Queue</th>
      <th>Jobs completed</th>
    </tr>

    <% resque.queues.each do |queue| %>
      <tr>
        <td class="queue"><a href="<%=u "queues/#{queue}" %>"><%= queue %></a></td>
        <td class="size"><%= Resque::Metrics.total_job_count_by_queue(queue) %></td>
      </tr>
    <% end %>

    <tr class="failed">
      <td class="queue failed"></td>
      <td class="size"><%= Resque::Metrics.total_job_count %></td>
    </tr>
  </tbody>
</table>

<table class="queues">
  <tbody>
    <tr>
      <th>Queue</th>
      <th>Average job time</th>
    </tr>

    <% resque.queues.each do |queue| %>
      <tr>
        <td class="queue"><a href="<%=u "queues/#{queue}" %>"><%= queue %></a></td>
        <td class="size"><%= metrics_formatted_ms(Resque::Metrics.avg_job_time_by_queue(queue)) %></td>
      </tr>
    <% end %>

    <tr class="failed">
      <td class="queue failed"></td>
      <td class="size"><%= metrics_formatted_ms(Resque::Metrics.avg_job_time) %></td>
    </tr>
  </tbody>
</table>

<table class="queues">
  <tbody>
    <tr>
      <th>Queue</th>
      <th>Total job time</th>
    </tr>

    <% resque.queues.each do |queue| %>
      <tr>
        <td class="queue"><a href="<%=u "queues/#{queue}" %>"><%= queue %></a></td>
        <td class="size"><%= metrics_formatted_ms(Resque::Metrics.total_job_time_by_queue(queue)) %></td>
      </tr>
    <% end %>

    <tr class="failed">
      <td class="queue failed"></td>
      <td class="size"><%= metrics_formatted_ms(Resque::Metrics.total_job_time) %></td>
    </tr>
  </tbody>
</table>

<h2>Individual job metrics</h2>

<table class="workers">
  <tbody>
    <tr>
      <th>Job</th>
      <th>Total count</th>
      <th>Failed count</th>
      <th>Average duration</th>
      <th>Total duration</th>
    </tr>

    <% Resque::Metrics.known_jobs.each do |job| %>
      <tr>
        <td class="queues queue"><%= job %></td>
        <td class="queues queue"><%= Resque::Metrics.total_job_count_by_job(job) %></td>
        <td class="queues queue"><%= Resque::Metrics.failed_job_count_by_job(job) %></td>
        <td class="queues queue"><%= metrics_formatted_ms(Resque::Metrics.avg_job_time_by_job(job)) %></td>
        <td class="process"><%= metrics_formatted_ms(Resque::Metrics.total_job_time_by_job(job)) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
